body {
  font-family: Helvetica;
  color: #102542;
  background-color: #cdd7d6;
  font-size: 11pt;
}

a {
  text-decoration: none;
  color: #f87060;
}

a:hover {
  color: #cdd7d6;
}

img {
  border-radius: 10px;
}

/* BANNER */

.banner {
  background-color: #f87060;
  display: flex;
  padding-top: 12em;
  padding-bottom: 12em;
  align-items: center;
  font-size: 20pt;
  font-weight: bold;
}

.banner a {
  color: #102542;
}

.banner a:hover {
  color: #cdd7d6;
}

.bannerIntro {
  flex: 1;
  text-align: center;
  padding-left: 6em;
  text-shadow: 2px 2px #cdd7d6;
}

.bannerIntroLink:hover {
  color: #cdd7d6;
  text-shadow: 2px 2px #102542;
}

.bannerGreeting {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 6em;
  font-size: 12pt;
  text-align: end;
}

/* NAVIGATION */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-weight: bold;
}

.navBar {
  text-align: center;
  margin: 1em;
}

.navLink {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 10px;
  /* box-shadow: 3px 3px #ada0a6; */
}
/*
.navLink:hover {
  background-color: #f87060;
  color: #ffffff;
} */

/* SIDEBAR */

/* .sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin: 1em;
  background-color: #dac2c1;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  box-shadow: 3px 3px #ada0a6;
} */

/* .sidebarLinks {
  font-weight: bold;
} */

.sidePanel {
  flex: 2 2;
}

.contact {
  justify-content: flex-start;
  margin-bottom: 3px;
  margin-top: 3px;
  /* color: #b3a394; */
}

.about {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin: 1em;
  background-color: #102542;
  color: #cdd7d6;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  /* box-shadow: 3px 3px #ada0a6; */
  font-size: 11pt;
}

.coding {
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: #ffffff;
  border-radius: 10px;
  /* text-align: center; */
  /* box-shadow: 3px 3px #ada0a6; */
  font-size: 11pt;
  flex: 1 1;
  padding: 1em;
}

/* HOME/MAIN */

.home {
  background-color: #cdd7d6;
  display: flex;
}

.mainBody {
  display: flex;
  flex-direction: column;
  flex: 5 5;
}

.goals {
  background-color: #102542;
  margin: 1em;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex: 4 4;
  /* box-shadow: 3px 3px #ada0a6; */
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1em;
}

.project {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 10px;
  /* box-shadow: 3px 3px #ada0a6; */
}

.projectTile {
  /* flex: 1; */
  display: flex;
  align-items: stretch;
}

.projectDesc {
  padding: 1em;
  text-align: center;
}

/* .qresume {
  background-color: #ffffff;
  flex: 1 1;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 3px 3px #ada0a6;
} */

.resume {
  background-color: #ffffff;
  margin: 1em;
  padding: 1em;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a:hover {
  color: #ffffff;
}
