body {
  font-family: Helvetica;
  color: #102542;
  /* font-variant: small-caps; */
  background-color: #cdd7d6;
  padding: 0em;
}

a {
  text-decoration: none;
  color: #102542;
  /* padding: 10px; */
}

a:hover {
  color: #cdd7d6;
}
/*
label {
  display: block;
} */

/* NAVIGATION */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  /* margin: 1em; */
  font-weight: bold;
}
/*
.navBar {
  text-align: center;
} */

/* form div {
  margin: 1em;
  display: inline-block;
} */

/* BANNER */

.banner {
  background-color: #f56960;
  display: flex;
  /* justify-content: space-evenly; */
  padding-top: 12em;
  padding-bottom: 12em;
  align-items: center;
  /* margin: 0em; */
  font-size: 20pt;
  font-weight: bold;
  border-radius: 10px;
}

.bannerIntro {
  flex: 1;
  text-align: center;
  padding-left: 6em;
  text-shadow: 2px 2px #cdd7d6;
}

.bannerIntro:hover {
  color: #cdd7d6;
  text-shadow: 2px 2px #102542;
}

.bannerGreeting {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 6em;
  font-size: 12pt;
  text-align: end;
  margin-right: 6em;
}

.bannerText {
  margin-bottom: 3px;
  margin-top: 3px;
}

.contact {
  justify-content: flex-start;
  margin-bottom: 3px;
  margin-top: 3px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* flex: 1 0 auto; */
  flex: 2;
  margin: 1em;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;

  /* border: 10px;
  border-style: solid;
  border-color: #f56960; */
  text-align: center;
}

.sidebarLinks {
  font-weight: bold;
}

.home {
  display: flex;
  /* justify-content: space-evenly; */
}

.mainBody {
  flex: 5 0 auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goals {
  background-color: #ffffff;
  /* padding: 2 em; */
  margin: 1em;
  border-radius: 10px;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}

.about {
  text-align: center;
  font-size: 11pt;
  padding-right: 1em;
  padding-left: 1em;
}
