html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Helvetica;
  color: #102542;
  /* background-color: #cdd7d6; */
  font-size: 11pt;
}

a {
  text-decoration: none;
  color: #f87060;
}

a:hover {
  color: #cdd7d6;
}

img {
  border-radius: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#app {
  display: flex;
  flex-direction: column;
}

/* BANNER */

.banner {
  background-color: #f87060;
  display: flex;
  flex-direction: column;
  /* padding-top: 6em;
  padding-bottom: 12em; */
  height: 100vh;
  /* align-items: center; */
  justify-content: center;
  font-size: 24pt;
  font-weight: bold;
  /* flex: 8 8 */
}

.banner a {
  color: #102542;
}

.banner a:hover {
  color: #cdd7d6;
}

.bannerIntro {
  flex: 1;
  flex-direction: column;
  padding-top: 6em;
  /* height: 50%; */
  justify-content: flex-end;
  text-align: center;
  text-shadow: 2px 2px #cdd7d6;
}

.bannerIntroLink:hover {
  color: #cdd7d6;
  text-shadow: 2px 2px #102542;
}

.bannerGreeting {
  /* height: 50%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-size: 11pt;
  text-align: center;
}

#bannerG1 {
  animation: fadeIn ease 3s;
}

#bannerG2 {
  opacity: 0;
  animation: fadeIn ease 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

/* NAVIGATION */

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  font-weight: bold;
}

.navBar {
  text-align: center;
  margin: 1em;
  font-size: 20pt;
  /* height: 100%; */
}

#navLink1 {
  animation: fadeIn ease 3s;
  animation-fill-mode: forwards;

  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
#navLink2 {
  opacity: 0;
  animation: fadeIn ease 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
#navLink3 {
  opacity: 0;
  animation: fadeIn ease 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;

  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
#navLink4 {
  opacity: 0;
  animation: fadeIn ease 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.sidePanel {
  /* flex: 2 2; */
  background-color: #102542;
  /* color: #cdd7d6; */
  color: #ffffff;
  width: 50%;

  height: 1500px;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin: 1em;
  padding: 1em;
  text-align: center;
  font-size: 20pt;
  /* color: #f87060; */
  padding-top: 8em;
  padding-bottom: 8em;
  /* height: 100%; */
  align-self: center;
}

/* CONTACT */

.contact {
  justify-content: center;
  margin-bottom: 3px;
  margin-top: 3px;
}

#contact1 {
  animation: fadeIn ease 3s;
}

#contact2 {
  opacity: 0;
  animation: fadeIn ease 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#contact3 {
  opacity: 0;
  animation: fadeIn ease 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#contact4 {
  opacity: 0;
  animation: fadeIn ease 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

/* HOME/MAIN */

.home {
  background-color: #cdd7d6;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: stretch;
  align-content: stretch;
}

.mainBody {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 50%;
  height: 1500px;
  /* flex: 5 5; */
  /* align-self: stretch; */
  /* height: auto; */
}

.goals {
  /* background-color: #102542; */
  background-color: #ffffff;
  margin: 1em;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex: 4 4;
}

.coding {
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 11pt;
  flex: 1 1;
  padding: 3em;
  border-color: #102542;
  border-style: solid;
  animation: fadeIn ease 3s;
  text-align: center;
  color: #102542;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1em;
  text-align: center;
  /* color: #f87060; */
}

.project {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 10px;
}

.projectTile {
  display: flex;
  align-items: center;
  flex-direction: row;
  animation: fadeIn ease 3s;
  color: #102542;
}

.projectDesc {
  padding: 1em;
  text-align: center;
}

.resume {
  background-color: #ffffff;
  color: #102542;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  animation: fadeIn ease 3s;
}

.fun {
  background-color: #ffffff;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  animation: fadeIn ease 3s;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex: 2 2 */
}

.footer a:hover {
  color: #ffffff;
}
